@font-face {
  font-family: shabnam;
  src: url("Shabnam-Light.ttf");
}
body {
  font-family: shabnam;
  direction: rtl;
  text-align: justify;
  padding: 6px;
}
header h1 {
  text-align: center;
}
